@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-6px); }
  100% { transform: translateY(0); }
}
#imagemain{
  animation: cinematicIn 0.5s ease forwards, drift 5s ease-in-out infinite alternate;
}

@keyframes drift {
  from {
    transform: scale(1.05) translateX(-10px);  
  }
  to {
    transform: scale(1.08) translateX(10px);
  }
}
@keyframes cardy {
    from{
        opacity: 0;
        background-color: cyan;
    }
    to{

    }
}

body{
    background-color: rgb(248, 219, 248);
    padding-top: 10px;
}
/*this is the yellow one*/
#bird{
    background-color: antiquewhite;
    width: 80%;
    border: 10px dashed wheat;
    position: relative;
    padding-right: 0px;
    overflow: auto;
    border-radius:10px;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px
}
#bird p{
    color: ;
    background-color: antiquewhite;
    font-size: 20px;
    font-family:cursive;
    transform: translateX(6%);
    width:25vw;
}
#bird div{
    float: left;
}
main{
    background-color:pink;
    border-radius: 10px;
    height: 100vh;
}

#birdy img{
    width: 25vw;
    height:30vw ;
    object-fit:cover;
    border-radius: 10px;
    position: absolute;
    right: 1vw;
    top: 1vw;
}

/*this is question part*/
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#ques{
    margin-top: 50px;
    width:60vw;
    height: 50vh;
    line-height: 3;
    padding-left:20px;
    border-radius: 20px;
    color: rgb(255, 224, 167);
    animation: float;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;  
    background-image: url(Gemini_Generated_Image_hvmkuchvmkuchvmk.png);
    background-position: center left;
}
#ques p{
    background-color: rgb(176, 166, 166);
    border-radius: 100px;
    width:30vw ;
    padding-left: 2vw;
    animation: float;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;   
}
/*card*/
#cardbody{
    background-image: url(Gemini_Generated_Image_jumigdjumigdjumi.png);
    object-fit: contain;
    background-repeat: no-repeat;
    background-position:center;
}
#main{
    background-color: rgb(214, 249, 249);
    border-radius: 10px;
    margin: 10px;
    height: 100%;
    padding-top: 10px;
    padding-right: 20px;
}
ul{
    list-style: none;
    line-height:2;
    color:rgb(51, 17, 84);
    font-size: 18px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    opacity: 100%;
}
/*for card*/
#main{
    animation: cardy;
    animation-duration: 3s;
}
